{
  "java.home": "{{ java_home }}",
  "extensions.autoUpdate": false,
  "extensions.autoCheckUpdates": false,
  "extensions.ignoreRecommendations": true,
  "extensions.showRecommendationsOnlyOnDemand": false,
  "update.channel": "none",
  "update.showReleaseNotes": false,
  "http.systemCertificates": false,
  "terminal.integrated.env.linux": {
    "JAVA_HOME": "{{ java_home }}",
    "PATH": "{{ java_home }}/bin:${env:PATH}"
  }
}
