[Desktop Entry]
Name=FRC Shuffleboard
Comment=A Modern Driveteam Dashboard
Exec={{ wpilib_home.path }}/jdk/bin/java -jar {{ wpilib_home.path }}/tools/artifacts/Shuffleboard-{{ wpilib_release_version }}-linuxx64.jar
Icon=/home/{{ user }}/.local/share/pixmaps/shuffleboard.png
Type=Application
Categories=Development;
Keywords=shuffleboard;frc;
